
@font-face {
    font-family: 'JohnDoe';
    src: url('./fonts/CFJohnDoePERSONALUSE-Regula.ttf');
}

@font-face{
font-family: 'Cartica';
src: url('./fonts/Cartica_.otf');
}

@font-face{
    font-family: 'Sembilu';
src: url('./fonts/Sembilu-Regular.ttf');
}

@font-face{
    font-family: 'Deventer';
src: url('./fonts/Deventer.ttf');
}







body{
    background-color:#5e8c61;
}

a, a:hover, a:visited{
    color: #031634;
}


.container{
    margin:auto;
    padding:0px;
    height:auto;
    background-color:white;
    border: 1px solid white;
    border-radius:15px;
}

header{
    background-color: #4e6151;
    padding:0px;
    margin:0px;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
}

.entete, .entete:visited, .entete:hover{
font-size:3rem;
font-family: Deventer;
color:white;
text-decoration:none;
padding-left:3px;

}

.subtitle{
font-size: 1.2rem;
font-family: Cartica;
color:white;
}

.menu{
    background-color:#3b322c;
    margin:0px;
}

.nav-link, .nav-link:hover, .nav-link:visited{
    color:white;
}
.nav-link:active{
    font-weight:bold;
}
.nav-item{
    text-align:center;
}

.bubble{
    padding:20px;
    margin:5px;
    text-align:left;
    border-radius: 40px;
    border: 3px solid  #ABDFF1;

}

.menubas{
    margin:0px;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
    background-color: #3b322c;
}



/*table LIFELINE*/

.lifeline{
    width:100%;
    height:auto;
    border:none;
}

.lifeline tbody td{
    width:50%;
    height:auto;
    padding:1%;
}




/* for poppers */
#tooltip {
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 13px;
  }










/*bulles dans le tableau LIFELINE*/
.speech-bubble-right {
	position: relative;
    background:  #ABDFF1;
    border: 2px solid #E1DDDB;
    border-radius: 1.2em;
    padding:1em;
    margin-left:.7em;
}

.speech-bubble-right:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 1.25em solid transparent;
	border-right-color: #E1DDDB;
	border-left: 0;
	border-bottom: 0;
	margin-top: -0.625em;
	margin-left: -1.25em;
}


.speech-bubble-left {
	position: relative;
    background: #E8DDCB;
    border: 2px solid #CDB380;
    border-radius: 1.2em;
    padding:1em;
    margin-right:.7em;
}

.speech-bubble-left:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
    border: 1.25em solid transparent;
	border-left-color: #CDB380;
	border-right: 0;
	border-bottom: 0;
	margin-top: -0.625em;
	margin-right: -1.25em;
}

.IDcard{
    border: 2px solid #036564;
    border-radius:1.2em;
    padding:2em;
    margin:1em;
}




/*-------------------BALLOONS------------------------------*/


  #balloon-container {
      position:relative;
    height: 50vh;
    padding: 1em;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
  }
  
  .balloon {
    height: 125px;
    width: 105px;
    border-radius: 75% 75% 70% 70%;
    position: relative;
text-align:center;
vertical-align: center;
padding-top:50px;
color:brown;
  }
  
  .balloon:before {
    content: "";
    height: 75px;
    width: 1px;
    padding: 1px;
    background-color: #FDFD96;
    display: block;
    position: absolute;
    top: 125px;
    left: 0;
    right: 0;
    margin: auto;
  }
  
  .balloon:after {
      content: "▲";
      text-align: center;
      display: block;
      position: absolute;
      color: inherit;
      top: 120px;
      left: 0;
      right: 0;
      margin: auto;
  }
  
  @keyframes float {
    from {transform: translateY(100vh);
    opacity: 1;}
    to {transform: translateY(-300vh);
    opacity: 0;}
  }




  /*------------------------------------------------------------------------------*/