/*redimension de la taille du texte par rapport au viewpoint */
h1 {
  font-size: 2.5vmax
}

.container .row .col section article h2 {
  font-size: 2vmax
}


.container .row .col section article h2,
legend {
  font-size: 4vh;
}

.container .row .col section article form .form-group .form-row .col {
  font-size: 1rem;
  font-weight: 500;
}

.container .row .col section article p {
  font-size: 1rem;
}

.container .row .col section article form .form-group .form-row {
  padding-bottom: 1rem;
}



/*la classe .tabProduits représente le tableau de la page tableau.php*/
.tabProduits {
  margin: 0px;
  padding: 0px;
}

.tabProduits tr th {
  border: none;
  border-bottom: 1px solid white;
  text-align: center;
  vertical-align: middle;
}


.tabProduits tr td {
  border: none;
  border-bottom: 2px solid white;
  text-align: center;
  vertical-align: middle;
}


/* classe .img-responsive qui mettre les images de la page tableau.html à la bonne dimension selon l'écran sur lequel on se trouve */
.img-responsive {
  width: auto;
  max-height: 10rem;
}

/* classe .img-responsive qui mettre les images de la page detail.html à la bonne dimension selon l'écran sur lequel on se trouve */
.img-responsive-details {
  width: auto;
  max-height: 15rem;
}

.icon {
  height: 1.5em;
  width: auto;
}

/* sur la page tableau.php, affichage du mot 'bloqué' si l'article est bloqué */
.etiquette {
  color: white;
  text-transform: uppercase;
  font-size:0.80rem;
  padding: 5px;
  font-weight: bold;
  border-radius: 25px;
}



/* sur la page tableau.php, style des liens qui mènent à la page details.php */
.lienDetails {
  color: #016d32;
  text-transform: uppercase;
  font-weight: bold;
}

.lienDetails:visited {
  color: #016d32;
  text-transform: uppercase;
  font-weight: bold;
}

.lienDetails:hover {
  color: #016d32;
  text-transform: uppercase;
  font-weight: bold;
}

.active {
  font-weight: bold;
  font-style: italic;
}

.page-link{
  color:darkgreen;
  border-radius: 5px;
  border-color:darkgreen;
  margin:2px;

}
/*--------------------------------------------------------------------------------------------*/
/* DEFINITION DES BOUTONS TOGGLE (voir la page multi_block.php)
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color:   #d30000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #9b0000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*------------------------------------------------------------------*/